<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="software" level="INFO"/>
    <logger name="com.zaxxer" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="o.eclipse.jetty" level="INFO"/>
    <logger name="o.e.jetty" level="INFO"/>

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>
</configuration>